<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=windows-1251"
 http-equiv="content-type">
  <title>Sirius Motor Group</title>
  <meta name="Keywords" content="автосервис,Subaru,Forester,Субару,ремонт,техобслуживание,запчасти,расходники">
  <meta name="Description" content="Автосервис Subaru Forester">
</head>
<body>
<div style="text-align: center;">
<table style="width: 100%; text-align: left;" border="0" cellpadding="2"
 cellspacing="2">
  <tbody>
    <tr>
      <td colspan="2" rowspan="1"
		style="vertical-align: top; text-align: center; background-color: rgb(215, 215, 255);">
 <H1>Sirius Motor Group</H1>
 <H2>Автосервис Subaru  
 <br>ул. Сельскохозяйственная 43-B, тел. (495) 111-11-11</H2>
	  </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 16%;">
	  [#links]
	  <br><br>
	  [#space]</b>
      </td>
      <td style="vertical-align: top;">[#frame_body]<br>
      </td>
    </tr>
  </tbody>
</table>
<hr style="width: 100%; height: 2px;">
<span style="color: rgb(102, 102, 102);">Copyright (C) Dmitry Ognyannikov, 2006-2009</span><br>
</hr>
</div>
</body>
</html>
