index.html "О сервисе"
prices.html "Виды работ и цены"
prices_TO.html "Цены на ТО"
bonus.html "Скидки и бонусы"
shinomontaz.html "Шиномонтаж"
tonirovka.html "Тонировка"
protection.html "Изготовление защит"
contact.html "Контакты"
feedback.html "Отзывы о нас"
gallery "Фотогаллерея работ"
#
manuals.html "Руководства Subaru"
articles "Статьи Subaru"
;articles/about_subaru.html  "О марке Subaru"
;articles/offroad.html  "Живучесть Forester<br>на бездорожье"
;articles "Особенности автомобилей<br>Subaru"
